.git
.git/**
node_modules
node_modules/**
**/node_modules
**/node_modules/**
__pycache__
**/__pycache__/**
*.pyc
.venv
**/.venv
**/.venvy/**
.env
.env.*
.next
**/.next
**/.next/**
.vite
**/.vite/**
dist
**/dist/**
build
**/build/**
media
**/media/**
staticfiles
**/staticfiles/**
*.md
status-page
status-page/**
